.contenedor {
    display: grid;
    height: 100vh;
    justify-items: center;
    align-items: center;
    background-color: darkslategrey;
}
.calculadora {
    width: 380px;
}
.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.boton {
    width: 100%;
    height: 50px;
    border: none;
}
.violeta {
    background-color: #3a315e;
}
.naranja {
    background-color: #ee6a4c;
}
.gris {
    background-color: #948a89;
}
.naranja, .violeta, .gris {
    color: white;
}
.numero {
    background-color: #e3dfde;
}
.pie {
    height: 70px;
    width: 100%;
    background-color: white;
}
.display {
    text-align: center;
    background-color: white;
    display: grid;
    align-items: center;
    height: 90px;
    font-size: 50px;
}